langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo_search==5.3.1b1
wikipedia
mysql-connector-python
validators==0.28.1
unstructured
numexpr
streamlit